
.body{
    background-color: blueviolet;
    color: white;
    width: 70%;
     font-family: 'Roboto', sans-serif;
}
#head{
    background-color: none;
    text-align: center;
    width: 70%;
}
#main{
    font-family:'Roboto', sans-serif;
    font-size: 3ch;
}
#A:link{
color:rgb(133, 18, 241);
text-decoration: underline;
    }
input{
    margin: 5px;
    padding: 5px;
}
